<div id="div-contact-us">
  <div id="div-header">
    <h1> {{title}} </h1>
  </div>
  <div id="div-text">
    <div id="addressText"><b>{{addressText}}</b></div>
    <div id="address" [innerHTML]="address"></div>
    <BR/>
    <div id="phoneText"><b>{{phoneText}}</b></div>
    <div id="phoneNo">{{phoneNo}}</div>
    <BR/>
    <div id="otherContactsText"><b>{{otherContactsText}}</b>
      <a *ngFor="let otherContact of otherContacts" href="{{otherContact.link}}"><img src="{{otherContact.imagePath}}" width="50px" height="50px"></a>
    </div>
  </div>
</div>