#div-head{
    background-color: #1B1C1C;
    width: 100%; 
    height: 100%;
    top: 0;
    border: 2px;
    border-style: inset;
    border-color: blue;
}

#div-logo{
    width: 20%;
    height: 100%;
    float: left;
}

#div-navigation{
    width: 80%;
    height: 100%;
    float: left;
    align-items: flex-end;
}

#div-navigation ul
{
    margin:  0 0 3px 0;;
    padding-top: 5%;
    padding-left: 5%;
}

#div-navigation ul li
{
    list-style-type: none;
    display: inline;
    padding-left: 1%;
}

#div-navigation li:before {
content: " | ";
padding: 0.5%;
color: seagreen;
}

#div-navigation li:first-child:before {
content: none;
}
a{
    color: lightblue;
    font-size: 20px;
    font-style: italic;
}