<div id="div-head" (window:resize)="onResize($event)">
  <div id="div-head-browser" *ngIf="width > 700">
    <div id="div-logo-browser">
      <img src="{{imagePath}}" width="100%" height="100%">
    </div>
    <nav id="div-navigation-browser">
      <ul>
        <li *ngFor="let routes of routeComponent">
          <a [routerLink]="routes.routes">{{routes.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="div-head-mobile" *ngIf="width < 700">
    <div id="div-nav-drawer-mobile">
      <img id="img-menu" src="{{menuPath}}" (click)="toggle()" width="100%" height="50%">
    </div>
    <div id="div-logo-mobile">
      <h1>Ask us Global </h1>
    </div>
    <div id="div-navigation-mobile"  class="sidenav" *ngIf="click">
      <img src="{{imagePath}}" width="100%" height="20%">
      <ul>
        <li>
            <a href="javascript:void(0)" class="closebtn" (click)="toggle()">&times;</a>
            <hr/>
        </li>
        <li *ngFor="let routes of routeComponent">
          <a id="a-menu-item" [routerLink]="routes.routes" (click)="toggle()">{{routes.name}}</a>
          <hr/>
        </li>
      </ul>
    </div>
  </div>
</div>