#div-head {
    background-color: #1B1C1C;
    width: 100%; 
    height: 100%;
    top: 0;
    border: 2px;
    border-style: inset;
    border-color: blue;
}

/*Config for browser */
#div-logo-browser{
    width: 20%;
    height: 100%;
    float: left;
}

#div-navigation-browser{
    width: 80%;
    height: 100%;
    float: left;
    align-items: flex-end;
}

#div-navigation-browser ul
{
    margin:  0 0 3px 0;;
    padding-top: 5%;
    padding-left: 5%;
}

#div-navigation-browser ul li
{
    list-style-type: none;
    display: inline;
    padding-left: 1%;
}

#div-navigation-browser li:before {
content: " | ";
padding: 0.5%;
color: seagreen;
}

#div-navigation-browser li:first-child:before {
    content: none;
}
#div-head-browser {
    width: 100%;
    height: 100%;
}

/*config for the mobile*/
#div-nav-drawer-mobile{
    width: 10%;
    height: 100%;
    float: left;
}

#img-menu{
    display: block;
    margin: 0 auto;
}

#div-logo-mobile{
    width: 90%;
    height: 100%;
    float: left;
    color: cornflowerblue;
    text-align: center;
}

#div-navigation-mobile{
    width: 80%;
    height: 100%;
    float: left; 
    border: 1px;
    border-color: cornflowerblue;
}

#div-navigation-mobile ul
{
    margin:  0 0 3px 0;;
    padding-top: 5%;
    padding-left: 5%;
}

#div-navigation-mobile ul li
{
    list-style-type: none;
    padding-left: 1%;

}

#div-navigation-mobile li:before {
content: " | ";
padding: 0.5%;
color: seagreen;
}

#div-navigation-mobile li:first-child:before {
    content: none;
}
#div-head-mobile {
    width: 100%;
    height: 100%;
}

a{
    color: lightblue;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
@media only screen 
and (min-device-width : 700px) {
.router-link-active{
    background-color: dodgerblue;
    border-radius: 10px;
    border-style: dashed;
    border-color: khaki;
    transform: scale(2);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
@media only screen 
and (max-device-width : 700px) {
.router-link-active{
    background-color: dodgerblue;
    border-radius: 10px;
    border-style: dashed;
    border-color: khaki;
    transform: scale(1.2);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
a:hover{
    background-color: dodgerblue ;
    border-radius: 10px;
    border-style: dashed;
    border-color: ivory;
}


/* The side navigation menu */
.sidenav {
    height: 40%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}