#div-body{
    background-color: #1B1C1C;    
    width: 100%; 
    height: 100%;
    border: 2px;
    border-style: inset;
    border-color: blue;
    color: lightblue;
    text-align: justify;
}
router-outlet{
    width: 100%;
    height: 100%;
}