<div id="div-about-us">
  <div id="div-header">
    <h1> A Sneak Peak </h1>
  </div>
  <div id="div-text">
    Ask Us Global Solutions is an innovative and rapidly growing end to end IT consulting firm. We offer solutions to most challenging
    issues in the complex IT world, by applying the technical and domain expertise we have gained over the years.
    <BR/><BR/>
    We have been offering products and solutions to businesses in Chennai and beyond. Our creations stand out of the crowd, since we 
    are experts in choosing the right technology for the job and customizing it to the needs of the clients.
    <BR/><BR/>
    You can trust our experts on a range of areas including but not limited to IT guidance, management and support there by saving
    your precious time to develop the core area of your business while we have your IT covered.
    <BR/><BR/>
    <hr>
    <b> We are recogonized by the Industry </b><BR/><BR/>
      We have been recogonized by major organizations and clients in the industry.
    <BR/>
    <hr>  

    <b>We're connected</b><BR/><BR/>
    The success of your IT company also lies in its strategic alliances and partnerships. 
    Ask Us Global Solutions has cultivated relationships with some of the major industry players to provide you a 
    complete technical support team.
  </div>
  <div id="div-img">
    <img src="about-us.jpg" width=200 height=200/>
  </div>
</div>