#div-app-component{
    background-color: #F0F5F7;
    height: 100%;
    width: 100%;
}
#div-head{
    height: 20%;
    border-top: 2%;
}
#div-body{
    height: 66%;
}
#div-foot{
    height: 10%;
    border-bottom: 2%;
}
#div-app-twitter-feed{
    float: left;
    height: 100%;
}
#div-app-body{
    float: left;
    height: 100%;
}