#div-our-geeks{
    width: 100%;
    height: 100%;
}
#div-header{
    width: 100%;
    height: 5%;
    text-align: center;
}
#div-text{
    width: 70%;
    height: 90%;
    text-align: justify;
    padding: 2%;
    float: left
}

#div-img{
    width: 20%;
    height: 90%;
    padding: 2%;
    float: left;
    max-width: 200px;
    max-height: 200px;
}

.popout-aboutus {
    animation: popout 1s ease;
    -webkit-animation: popout-aboutus 1s ease;
}
@keyframes popout-aboutus {
    from{transform:skew(0deg)}
    80%{transform:skew(5deg)}
    to{transform:skew(0deg)}
}
@-webkit-keyframes popout-aboutus {
    from{-webkit-transform:scale(1)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}