#div-app-component{
    background-color: #80b3ff;
    height: 100%;
    width: 100%;
}
@media only screen 
and (min-device-width : 700px) {
#div-head{
    height: 20%;
    width: 100%;
}
#div-body{
    height: 66%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#div-tail{
    height: 10%;
    width: 100%;
}
}
@media only screen 
and (max-device-width : 700px) {
#div-head{
    height: 10%;
    width: 100%;
}
#div-body{
    height: 80%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#div-tail{
    height: 5%;
    width: 100%;
}
}
#div-app-body{
    float: left;
    height: 100%;
    width: 100%;
}
app-body{
    height: 100%;
    width: 100%;
}
app-head{
    height: 100%;
    width: 100%;
}
app-foot{
    height: 100%;
    width: 100%;
}