#div-services{
    width: 100%;
    height: 100%;
}
#div-header{
    width: 100%;
    height: 5%;
    text-align: center;
}
#div-text{
    width: 90%;
    text-align: justify;
    padding: 2%;
    float: left
}

#div-text-description{
    width: 70%;
    height: 90%;
    padding: 2%;
    float: left
}
#div-img{
    width: 20%;
    height: 90%;
    padding: 2%;
    float: left
}
#div-others{
    padding: 2%;
    float: none;
    width: 100%;
}
.popout-services {
    animation: popout 1s ease;
    -webkit-animation: popout-services 1s ease;
}

@keyframes popout-services {
    from{transform:rotate(0deg)}
    40%{transform:rotate(-1deg)}
    80%{transform:rotate(1deg)}
    to{transform:scale(0deg)}
}
@-webkit-keyframes popout-services {
    from{transform:rotate(0deg)}
    40%{transform:rotate(-1deg)}
    80%{transform:rotate(1deg)}
    to{transform:scale(0deg)}
}