<div id="text-container">
	<p>We are an end to end IT consulting company focussed on offering
		specialized and highly customized technology solutions for small and medium sized businesses. We offer expertise in building
		systems ground up or migrating to newer platforms to best serve the needs of your business. </p>
		<p>{{x}} {{y}} {{z}}</p>
</div>
<div id="card-container">
	<div id="card-container-1">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<p>Strategies and Planning</p>
				</div>
				<div class="back">
					<ul>
						<li>Planning</li>
						<li>Project Management</li>
						<li>Testing</li>
						<li>Training and Implementation</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="card-container-2">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<p>Technology Assessments</p>
				</div>
				<div class="back">
					<ul>
						<li>Analyze your IT infrastructure</li>
						<li>Identify the vulnerabilities</li>
						<li>Set priorities</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div id="card-container-3">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<p>Implementation</p>
				</div>
				<div class="back">
					<ul>
						<li>Testing</li>
						<li>Re-test</li>
						<li>Implement</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="card-container-4">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<p>IT Budget Planning</p>
				</div>
				<div class="back">
					<ul>
						<li>Our experts can take care of your project budgeting</li>
						<li>We can suggest the best solutions to suite your objectives and budget</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>