<div id="div-foot">
  <div id="div-fb">
  <div id="fb-root"></div>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
  <div id="div-twitter">  
    <a href="https://twitter.com/vmisblue" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true"
    data-show-screen-name="false"></a> </div> 
  <div id="div-copyright">
    <p id="foot-copyright">Copyright © 2016 Askus global Solutions - All Rights Reserved.</p>
  </div>
</div>